rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /testResults/{document} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /userProfiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /crisisEvents/{document} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update: if false;
      allow delete: if false;
    }

    match /neuroModules/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /neuroTrivia/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /neuroProgress/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /deportes/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /deportesTrivia/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /deportesProgress/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /meditaciones/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /lugares/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /resenas/{document} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if false;
      allow delete: if false;
    }

    match /caminos/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /caminosTrivia/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /caminosProgress/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

  }
}